*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #2B2D42;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    height: 3rem;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h1{
    color: #fff;
    font-size: 1.8rem;
}

.header span{
    color: #F8F32B;
}

.container{
    background-color: #8D99AE;
    width: 85vw;
    max-width: 400px;
    padding: 2rem 1rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    display: flex;
    aspect-ratio: 1 / 1;
    width: 100%;
    flex-wrap: wrap;
    gap: 2%;
}

.box{
    height: 32%;
    width: 32%;
    font-size: 3rem;
    font-weight: 550;
    border: 1px solid black;
    border-radius: 1vh;
    background-color: #fff;
}

.box:disabled{
    opacity: 1;
    font-size: 3rem;
    font-weight: 550;
    border: 1px solid black;
    border-radius: 1vh;
    background-color: #fff;
    color: #000;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    flex-direction: column;
    gap: 2vh;
}

.menu{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1vh;
    padding: 0vh 2vh 0vh 2vh;
}

.menu h1{
    color: #F8F32B;
}

#restartBtn{
    border: none;
    padding: 2px 8px 2px 8px;
    border-radius: 5px;
    background-color: #FFFFFF;
    height: 4vh;
}

.optionsBar{

}

#resetBtn{
    border: none;
    padding: 2px 8px 2px 8px;
    border-radius: 5px;
    background-color: #FFFFFF;
    height: 4vh;
}